---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION, TWITTER_URL } from '../config';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			.image-block {
				overflow: hidden;
				border-radius: 8px;
			}

			.image-block img {
				vertical-align: middle;
			}
		</style>
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<p>The <b>{SITE_TITLE}</b> is your personal finance management app, without extra features! Easy to use and easy to track.</p>
			<div class="image-block">
				<img src="/home-images/app-preview-v1.jpg" alt="Preview of first application version design">
			</div>
			<p>At the moment, this app is at the early stage of development, if you want to get latest updates, you can follow us on <a href={TWITTER_URL}>Twitter</a> or read our <a href="/blog">Blog</a> where we're going to share all updates and plans about this product.</p>
		</main>
		<Footer />
	</body>
</html>
